@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia, Sheep Buyer 2<br />
    Kvartala na Bogatite 1<br />
    <abbr title="Phone">P:</abbr>
    999.999.999
</address>

<address>
    <strong>Support:</strong>   <a href="petkoche90@gmail.com">petkoche90@gmail.com</a><br />
</address>