@using TelerikAcademy.TripyMate.Web.Models.Home
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="hero-img jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 postMain">
                <h1>TRIPY MATE</h1>
                <center>
                    <p class="lead">Find and share trips with young people just like you!</p>
                </center>
                <p class="button button-block"><a href="http://asp.net" >Find a trip &raquo;</a></p>
            </div>
            <div class="col-lg-8">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest posts</h2>
        <h4>Explore the latest posts</h4>
        <hr />
        
    </div>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostDetailsPartial", post);
    }
</div>